.home-searchbox{
  border: 1px solid green;
  border-radius: 0px;
  background-color: rgb(243, 243, 243);
}

.home-searchbox:focus{
  border: 1px solid green;
  box-shadow: 0 0 0 0.2rem rgba(1, 202, 92, 0.25);
  background-color: white;
}

.home-header{
  margin-top: 12rem;
}

.nospace-home-header{
  margin-top: 1rem;
}

.home-search-btn{
  background-color: rgb(243, 243, 243);
}

.episodes-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

