@import "../index.scss";

.episode-box {
  margin: 1rem;
  width: 18rem;
  box-shadow: 5px 10px 18px $light-gray;
}

.episodes-text {
  font-size: 0.9rem;
}

select {
  border: 1px solid $primary-color !important;
  border-radius: 0px !important;
}

select:focus {
  border: 1px solid $primary-color !important;
  box-shadow: 0 0 0 0.2rem $light-primary-color !important;
}

/* Modal CSS 

*/

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
  margin-right: 20px;
}

.modal-title {
  font-size: 20px;
}

.modal-footer > .btn-secondary {
  background-color: $light-gray;
  color: $secondary-color;
  border: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.modal-header {
  border: none !important;
}
/* width */
.modal-body::-webkit-scrollbar {
  width: 9px;
  margin-right: 10px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px $light-gray;
  border-radius: 10px;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
  background: $light-gray;
}

/* for Firefox */
.modal-body {
  overflow-y: scroll;
  scrollbar-color: $secondary-color $light-gray;
  scrollbar-width: thin;
}

.app-navbar{
  background-color: $lighter-gray;
  box-shadow: 5px 10px 18px $light-gray;
}
