body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(240, 239, 239);
}

.btn-center-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-flat{
  border-radius: 0px;
}

.btn-right-align{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
