@use "sass:color";
$primary-color: green;
$light-primary-color: rgba(1, 202, 92, 0.25);
$secondary-color: black;
$light-gray: #d6d6d6;
$lighter-gray: rgb(236, 236, 236);

.btn-center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-flat {
  border-radius: 0px;
}

.btn-right-align {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin bodyStyles() {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: $light-gray;
}

@mixin bodyStyles-night() {
  opacity: 0.9;
}

.App-Night-Mode:before {
  background: url("./assets/img/bg_night.jpg") no-repeat center center fixed;
  @include bodyStyles();
  @include bodyStyles-night();
}

.App:before {
  background: url("./assets/img/bg.jpg") no-repeat center center fixed;
  @include bodyStyles();
}

@media only screen and (max-width: 500px) {
  .App-Night-Mode::before {
    background: url("./assets/img/signupbg_potrait_night.jpg") no-repeat center
      center fixed;
    @include bodyStyles();
    @include bodyStyles-night();
  }
  .App:before {
    background: url("./assets/img/signupbg_potrait.jpg") no-repeat center center
      fixed;
    @include bodyStyles();
  }
}

body::-webkit-scrollbar {
  width: 9px;
  margin-right: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px $secondary-color;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}
